$border-color:#ccc;
$delete: #ff0000ae;

.container{
    width: 70%;
}

.hide-row{
    display: none;
}

.show-row{
    display: table-cell;
}

.search-box{
    width: 100%;
    padding:12px 8px;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: 8px;
    outline: none;
}

.table-container{
    min-height: 500px;
}

table{
    width: 100%;
    margin: 25px 0;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid $border-color;
        td:first-child{
            padding-right: 3rem;
        }

        td:last-child, th:last-child{
            text-align: right;
        }

        td{
            color: #555;
            button{
                cursor: pointer;
                outline: none;
                border: none;
                *{
                    pointer-events: none;
                }
            }
        }
    }

    th,td{
        padding:10px 0;
    }
}

th{
    text-align: left;
    text-transform: capitalize;
}

.edit-input{
    font-size: 1rem;
    width: fit-content;
    color:#aaa;
    outline:none;
    border:none;
    border-radius: 5px;
}

.role, .name, .email{
    text-align: left;
    width: 14rem;
}

.selected{
    background-color: #efefef;
}

// input[type="checkbox"]{

// }

.icon{
    font-size: 1rem;
    color: #555;
}

.delete{
    color:$delete;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: start;
}

.delete-selected{
    text-transform: capitalize;
    background-color: $delete;
    color: #fefefe;
    padding:5px 12px;
    border-radius: 12px;
    margin-right: auto;
}

.page-btn-container{
    margin-right:auto;
    display: flex;
    align-items: center;
}

.page-btn{
    font-size: 1rem;
    text-align: center;
    margin:0 0.5rem;
    color: white;
    background-color: #0000ff99;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    &>*{
        pointer-events: none;
    }

    &:disabled{
        background-color: #dedede;
        color:#aaa;
    }
}

.current-page{
    border:1px solid #0000ff99;
    background-color: white;
    color:#0000ff99;
}


.page-icon{
    font-size: 1.25rem;
    line-height: 2.5rem;
}