@use '../../../styles/base';

.hide-row{
    display: none;
}

.show-row{
    display: table-cell;
}

tbody{
    tr{
        td:first-child{
            padding-right: 3rem;
        }

        td{
            color: #555;
            button{
                cursor: pointer;
                outline: none;
                border: none;
                *{
                    pointer-events: none;
                }
            }
        }
    }
}

.edit-input{
    font-size: 1rem;
    width: fit-content;
    color:#555;
    background-color: #efefef;
    outline:none;
    border:none;
    border-radius: 5px;
}

.role, .name, .email{
    text-align: left;
    width: 14rem;
}

.selected{
    background-color: #efefef;
}

.icon{
    font-size: 1rem;
    color: #555;
}

.delete{
    color: base.$delete-color;
    &:hover{
        color: base.$delete-hover;
    }
}
