
.btn-container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.delete-selected{
    text-transform: capitalize;
    background-color: crimson;
    color: #fefefe;
    padding:8px 16px;
    border-radius: 16px;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &:hover{
        background-color: #ff2211;
    }
}

.page-btn-container{
    margin-right:auto;
    display: flex;
    align-items: center;
}

.page-btn{
    font-size: 14px;
    text-align: center;
    margin:0 0.5rem;
    color: white;
    background-color: #0000ff99;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: all 0.35s linear;
    &>*{
        pointer-events: none;
    }

    &:disabled{
        background-color: #dedede;
        color:#aaa;
    }
}

.current-page{
    border:1px solid #0000ff99;
    background-color: white;
    color:#0000ff99;
}


.page-icon{
    font-size: 1rem;
    line-height: 2rem;
}