@use '../../styles/base';

$page-btn-color: #0000ff99;
$page-btn-secondary:#fefefe;

.btn-container{
    width: base.$component-width;
    display: flex;
    align-items: center;
    justify-content: start;
}

.delete-selected{
    text-transform: capitalize;
    background-color: base.$delete-color;
    color: $page-btn-secondary;
    padding:8px 16px;
    border-radius: 16px;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &:hover{
        background-color: base.$delete-hover;
    }
}

.page-btn-container{
    margin-right:auto;
    display: flex;
    align-items: center;
}

.page-btn{
    font-size: 14px;
    text-align: center;
    margin:0 0.5rem;
    color: $page-btn-secondary;
    background-color: $page-btn-color;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: all 0.35s linear;
    &>*{
        pointer-events: none;
    }

    &:disabled{
        background-color: #bcbcbc;
        color: $page-btn-secondary;
    }
}

.current-page{
    border:1px solid $page-btn-color;
    background-color: $page-btn-secondary;
    color: $page-btn-color;
}

.page-icon{
    font-size: 1rem;
    line-height: 2rem;
}