@use './styles/base';

$main-color: burlywood;
$font-stack: Helvetica, sans-serif;

*{
    box-sizing: border-box;
}

body{
    font-family: $font-stack;
    margin: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container{
    width: base.$component-width;
    min-height: 500px;
}

table{
    width: 100%;
    margin: 25px 0;
    border-collapse: collapse;
    th,td{
        padding:10px 0;
    }
}

button{
    background-color: transparent;
    border:none;
    outline: none;
}