$main-color: burlywood;
$font-stack: Helvetica;

*{
    box-sizing: border-box;
}

body{
    font-family: $font-stack;
    margin: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    border:none;
}